* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HERO BOX */
.hero-box {
  background-color: #1F2937;

}

.hero-main {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-secondary {
  color: #E5E7EB;
  font-size: 18px;
}

.header-link {
  color: #E5E7EB;
  font-size: 18px;
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
}

/* INFO BOX */

.info-box {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
}

/* QUOTE BOX */

.quote-box {
  background-color: #E5E7EB;
  color: #1F2937;
  width: 1000px;
  padding: 100px;
}

blockquote {
  font-size: 36px;
  font-style: italic;
}
.author {
  font-size: 26px;
  font-weight: bold;
  text-align: right;
}
/* CALL BOX */
.call-box {
  background-color: #3882F6;
  color: #F9FAF8;
  width: 1400px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  }
.call-header {
  font-size: 32px;
  font-weight: bolder;
}
.call-text {
  font-size: 24px;
}

.call-button {
  font-size: 24px;
  font-weight: bolder;
  border: 3px #F9FAF8 solid;
  border-radius: 8px;
  padding: 8px 40px;
}
/* FOOTER */
.footer-box {
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 24px;
  padding: 50px;
  text-align: center;

}